.filter-tab {
    list-style: none;
}
.outline-btn {
    display: inline-block;
    border: 1px solid $neonBlue;
    width: fit-content;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-decoration: none !important;
    color: $neonBlue;
    background-color: transparent;
    letter-spacing: 3px;
    border-radius: 4px;
}

.outline-btn:visited {
    color: $neonBlue;
}

.outline-btn:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 
        0 0 20px #72E5F2,
        0 0 40px #0e3a73;
    }
}