.single-work{
    padding-top: 2rem;
}
.single-work .tech-skill-list {
    margin: 0;
}

.single-work h1 {
    letter-spacing: .15rem;
    color: $neonBlue;
}

.team-list li {
    display: inline-block;
    padding-right: 1rem;
    font-size: .75rem;
}

.single-work .team-list {
    margin: 0;
    display: inline-block;
}

.return-nav {
    width: fit-content;
}

.return-nav a{
    text-decoration: none;
    color: $neonBlue;
    letter-spacing: 3px;
    font-size: 1.15rem;
    font-family: 'Montserrat-Bold';
}

.return-nav a:visited {
    color: $neonBlue;
}

.return-nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $neonBlue;
    transition: width .4s;
}

.return-nav a:hover::after {
    width: 100%;
    transition: width .4s;
}

.project-overview,
.tab-content {
    @include neon-background;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.work-links {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.work-links a {
    text-decoration: none;
    color: $deepSpaceNavy;
    border: 1px solid $neonBlue;
    padding: .75rem;
    background-color: $neonBlue;
    border-radius: 4px;
}

.sub-sub-heading {
    margin-bottom: 1rem;
}

.sub-sub-heading p {
    padding-right: .5rem;
    display: inline-block;
    margin-bottom: 0;
}

.work-details {
    @include neon-background;
    padding: 1rem;
}
.project-tabs .filter-tab {
    padding-right: 0;
}