.sphere > div {
    height: 30vh !important;
}

#tech-skills {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#tech-skills .neon-text {
    text-align: center;
}

@media (min-width: 768px) {
    .sphere > div {
        height: 40vh !important;
    }
}