footer {
	position: relative;
	padding: 3rem 1.25rem;
}

footer p {
	margin: 0;
}

.copyright {
	font-size: .875rem;
	text-align: center;
}

.copyright a {
	color: $neonBlue;
	text-decoration: none;
}